<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
        <add name="Content-Type" value="text/event-stream" />
        <add name="X-Accel-Buffering" value="no" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <proxy>
      <reverseProxy enabled="true" />
    </proxy>
    <iisnode 
      node_env="production"
      watchedFiles="*.js;*.json"
      loggingEnabled="true"
      logDirectory="iisnode" />
  </system.webServer>
</configuration>
